# Custom interface
custom.el

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Package artifacts
/bookmarks
/eln-cache/
/elpa/
/eshell/
/history
/image-dired
/projects
/racket-mode/
/recentf
/tramp
/transient/

# Rest
site-lisp/